## Mac specific
/.DS_Store

## IDE (PHPStorm) specific
/.idea

## Project specific
/lib/oxmd/phar-composer.phar
/lib/oxmd/composer.phar
/lib/oxmd/vendor/

/output/
/result/
/vendor/
!/vendor/phpmd/oxmd/

