
# CONFIG PATHS
# the full path of module location
CFG_MODULEPATH=</path/to/your/module>

# clover file path and name
#CFG_CLOVER_LOCATION=>/path/to/clover.xml/file>

# SETTINGS
# Flag to trigger, if old results should kept or deleted. Possible values: NO | YES
CFG_DELETE_OLD_RUNS=YES
